/* em relativa al font-size
  rem relativa al font-size del elemento root, html
  auto para centrar respecto a su contenedor
  */
#app {
  margin: 3rem;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #e4b2dd;
  color: white;
  text-align: center;
}

p,
li {
  font-weight: bold;
}
.divItem {
  font-size: 1.5rem;
  border: 2px dashed #ccc;
  margin-bottom: 0.5rem;
}

.active {
  border-color: rgb(255, 0, 230);
  background-color: rgb(114, 211, 250);
}


